<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <img src="../../../../../assets/img/bg-img/bg-7.jpg" style="width:100%"/></div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div class="justify-content-center row"><h4>
      {{singer.singerNickName}}
    </h4></div>
    <div class="justify-content-center row"><p>Real Name: {{singer.name}}</p></div>
    <div class="justify-content-center row"><p>Birth day: 1/1/2020</p></div>
    <div class="justify-content-center row"><p>Gender: {{singer.singerGender}}</p></div>
    <div class="justify-content-center row"><p>National: National</p></div>
  </div>
</div>
<div class="ml-1 mt-3 row">
  <h4>Bio</h4>
</div>
<div class="ml-1 pl-3 row">
  <p>{{singer.description}}</p>
</div>
