<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Change Your Password
        </mat-card-title>
      </mat-card-header>
      <form class="tp-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <mat-card-content>
          <div class="">
            <mat-form-field floatLabel="never" appearance="fill" class="tp-full-width">
              <input class="input-password" type="password" placeholder="Password" matInput
                     formControlName="password" required>
              <mat-hint align="end" *ngIf="password.invalid && (password.dirty || password.touched)">
                <span class="text-danger" *ngIf="password.errors.required">Password is required</span>
              </mat-hint>
            </mat-form-field>

            <mat-form-field floatLabel="never" appearance="fill" class="tp-full-width">
              <input class="input-password" type="password" placeholder="New Password" matInput
                     formControlName="newPassword" required>
              <mat-hint align="end" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                <span class="text-danger" *ngIf="newPassword.errors.required">Password can not empty!!!</span>
                <span class="text-danger"
                      *ngIf="newPassword.errors.minlength">Password has at least 8 character!!!</span>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="tp-full-width">
              <input class="input-password" placeholder="Confirm Password" appConfirmEqualValidator="newPassword"
                     type="password" matInput
                     formControlName="confirmPassword"
                     required>
              <mat-hint align="end"
                        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <span class="text-danger"
                      *ngIf="confirmPassword.errors.required">Confirm Password can not empty!!!</span>
                <span class="text-danger"
                      *ngIf="confirmPassword.errors?.notEqual">Confirm Password not matched!!!</span>
              </mat-hint>
            </mat-form-field>

            <mat-card-actions>
              <button mat-button>Cancel</button>
              <button [disabled]="!changePasswordForm.valid" type="submit" mat-raised-button color="primary">Change Password</button>
            </mat-card-actions>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
