<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1 etc-list">
    <ol>
      <li>
        <button mat-raised-button (click)="showCommentsField()">Comment</button>
      </li>
      <li>
        <button class="mt-3" mat-raised-button (click)="showPlaylistField()">Playlist</button>
      </li>
      <li>
        <button *ngIf="isThisSongBelongsToUser" class="mt-3" mat-raised-button (click)="showEditField()">Edit</button>
      </li>
      <li>
        <button *ngIf="isThisSongBelongsToUser" class="mt-3" mat-raised-button (click)="showDeleteField()">Delete
        </button>
      </li>
    </ol>
  </div>

  <div *ngIf="isPage === 'comments'" class="col-sm-10 col-md-10 col-lg-10 etc-content">
    <mat-card>
      <div class="row justify-content-center">
        <h3>Comment</h3>
      </div>
      <div *ngIf="!isAnyComments" class="etc-content-no-result">
        <h6>No any comment in this song</h6>
      </div>
      <div *ngFor="let comment of comments" class="row mt-3">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-card-header>
            <img mat-card-avatar src="../../../../../assets/img/bg-img/bg-7.jpg" alt="">
            <mat-card-title>
              {{comment.user.name}}
            </mat-card-title>
            <mat-card-subtitle>
              <small>{{comment.created_at}}</small>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="comment-content">{{comment.comment}}</p>
          </mat-card-content>
        </div>
      </div>
      <div class="row etc-comment-section">
        <img mat-card-avatar src="../../../../../assets/img/bg-img/bg-7.jpg" alt="">
        <mat-form-field floatLabel="never" class="comment-song-tp-full-width">
          <mat-label>Write comment</mat-label>
          <textarea matInput type="text" #commentTextArea></textarea>
        </mat-form-field>
        <i (click)="getValueFromCommentTextArea(commentTextArea.value)"
           class="far fa-paper-plane etc-comment-section-icon color-to-pink"
           [ngClass]="{'black': isClick}"
        ></i>
      </div>
    </mat-card>
  </div>

  <div *ngIf="isPage === 'playlists'" class="col-sm-10 col-md-10 col-lg-10 etc-content">
    <mat-card>
      <div class="row justify-content-center">
        <div class="justify-content-end d-flex col-sm-6 col-md-6 col-lg-6">
          <h3>Your Playlist</h3>
        </div>
        <div class="justify-content-end d-flex col-sm-6 col-md-6 col-lg-6">
          <button *ngIf="playlists.length > 0" (click)="showFormCreatePlaylist()" mat-raised-button color="accent">New
            Playlist
          </button>
        </div>
      </div>
      <div *ngIf="!playlists.length > 0" class="etc-content-no-result">
        <h6>You haven't any playlist</h6>
        <button (click)="showFormCreatePlaylist()" mat-raised-button color="accent">New Playlist</button>
      </div>
      <div class="row mt-3">
        <div *ngFor="let playlist of playlists" class="mt-2 col-sm-6 cold-md-6 col-lg-6">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="playlist-item-image">
                <img src="{{playlistsImage}}" alt="">
              </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="row playlist-item-content">
                <span class="color-to-pink" (click)="showSongsInPlaylist(playlist.id)">{{playlist.namePlaylist}}</span>
              </div>
              <div class="row playlist-item-add-to">
                <button (click)="addSongToPlaylist(playlist.id)"><i class="fas fa-list"></i> Add Playlist</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<input (change)="onSelectFileImg($event)" style="display: none" type="file" accept="image/*" #img>
