<div class="songTitle"><h3 class="songTitleItem">Songs</h3> <h6 class="namePlaylist">{{playlistName}} &nbsp; <i
  class="fas fa-pencil-alt" (click)="changeName()"></i></h6>
</div>
<hr>
<mat-card class="matCard">
  <mat-card-header class="mb-3" *ngFor="let song of songs">
    <img mat-card-avatar src="{{song.avatar}}" class="avatar">
    <mat-card-title class="playlistItem">
      <div class="song-item-title">
        <div class=""><span (click)="listenSong(song)">{{song.name}}</span></div>
        <div (click)="removeFromPlaylist(song.id)" class=""><i class="fas fa-trash-alt trash-icon"></i></div>
      </div>
    </mat-card-title>


    <mat-card-subtitle>

      <div class="">{{song.singer}}</div>
    </mat-card-subtitle>


  </mat-card-header>
</mat-card>
