.mat-card-header-text {
  width: 100%;

  .song-item-title {
    display: flex;
    justify-content: space-between;
  }

  .trash-icon {
    &:hover {
      cursor: pointer;
      color: deeppink;
    }
  }
}

.avatar {
  background-size: cover;
}

.songTitle {
  display: flex;
  justify-content: space-between;

  .songTitleItem {
    color: white;
  }

  .namePlaylist {
    margin-bottom: 0;
    padding-top: .7rem;
    color: white;

  }
}

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: linear-gradient(to right, #cc1573, #5722a9) !important;
  color: white;
}

.fa-pencil-alt {
  &:hover {
    cursor: pointer;
    color: deeppink;
  }
}

.playlistItem {
  &:hover {
    cursor: pointer;
  }
}

.material-icons {
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.profile-playlist-button {
  right: 6.2rem;
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
}
.song-title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
}
