.image-main {
  width: 84px;
  height: 84px;
}

i.fas.fa-ellipsis-h {
  color: white;

  &:hover {
    cursor: pointer;
    color: #bd177a;
  }
}

.custom-mat-tab {
  .mat-tab-body-content {
    height: 100%;
    overflow: hidden;
  }

  .mat-tab-labels {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .mat-tab-label {
    margin-right: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
  }

  .mat-ink-bar {
    background-color: #bd177a !important;
  }
}

.mat-outer {
  width: 100%;
  padding-left: 0;
  margin: 0;
  padding-right: 0;
}

.image-music-main {
  width: 90px;
  height: 100px;
}

.now-playing {
  display: flex;
  align-items: stretch;
  padding: 0 20px;

  .control-box {
    margin-right: 2rem;
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: #bd177a;
    font-size: 1.5rem;

    .btnControl {
      background-color: #1d1633;
      color: #bd177a;
      font-size: 1.5rem;
      border: none;
      outline: 0;
      transition: all ease 0.5s;

      &.play {
        .fa-pause {
          transform: rotate(180deg);
          display: none;
        }
      }

      &.pause {
        .fa-play {
          transform: rotate(180deg);
          display: none;
        }
      }
    }
  }

  .info {
    flex-basis: 70%;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .seekBar {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .outer {
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        height: 0.5rem;
        flex-basis: 100%;
        justify-content: flex-start;
        //background-color: black;

        .inner {
          border-radius: 5px;
          background-color: white;
          height: 100%;
          display: inline-block;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .timing {
      display: flex;
      justify-content: space-between;
    }
  }

  .volume-control {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    width: 1rem;
    height: 3rem;
    align-items: center;
    color: #bd177a;
    font-size: 1.5rem;

    .mat-seekBar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 3rem;
      height: 90px;
      bottom: 5rem;
      right: 2.5rem;
    }

    .ng-star-inserted {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 3rem;
      height: 90px;
      bottom: 5rem;
      right: 2.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.repeat-control {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  color: white;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }

  .repeat {
    color: #bd177a;
  }

  .fa-redo {
    font-size: 1rem;
  }
}

.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: linear-gradient(to right, #cc1573, #5722a9) !important;
  color: white;
}
