.songs-list-01, .songs-list-02 {
  margin-bottom: 6rem
}

.upcoming-shows-area.section-padding-100 {
  padding-left: 7rem;

  .col-md-2.col-lg-2 {
    max-height: 10rem;
  }

}

.title-field {
  padding-left: 13px;

  h3 {
    color: white;
  }
}

.custom-mat-tab {
  .mat-tab-body-content {
    height: 100%;
    overflow: hidden;
  }

  .mat-tab-labels {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .mat-tab-label {
    margin-right: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
  }

  .mat-ink-bar {
    background-color: #bd177a !important;
  }
}

.mat-outer {
  width: 100%;
  padding-left: 0;
  margin: 0;
  padding-right: 0;
}

.image-music-main {
  width: 90px;
  height: 100px;
}

.heart-icon {
  margin-right: .7rem;
}

.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: linear-gradient(to right, #cc1573, #5722a9) !important;
  color: white;
}
