.color-to-pink {
  &:hover {
    cursor: pointer;
    color: deeppink;
  }
}

.profile-playlist-button {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
}
.edit-song-tp-full-width{
  width: 100%
}

button.edit-song-button-img {
  bottom: 2rem;
  left: 1.5rem;
}

.edit-song-button-img {
  display: inline-block;
  position: relative;
  height: 26px;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
}
