.info-list-option {
  position: fixed;
  z-index: 123;
  padding-left: 0px;
}

.to-pink {
  background-color: deeppink;
}
 
.info-button {
  width: 8rem;
  height: 3rem;
}

.info-all-content {
  padding-left: 0px;
  padding-right: 0px;
  left: 15%;
}

.profile-edit-button {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 10px 5px 0 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
}

.header-image {
  width: 180px;
  height: 180px;
  z-index: 11;

  img {
    border-radius: 50%;
    margin: 7rem 0 0 11rem;
  }
}

app-all {
  width: 100%;
}

.btn-update {
  background: linear-gradient(to right, #cc1573, #5722a9);
  color: white;
}

.deep-pink {
  color: deeppink;
}

.profile-content {
  height: 35rem;
  background-color: #0c0527;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.profile-nav {
  height: 3rem;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  justify-content: space-around;

  .profile-nav-item-on-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-nav-item-on-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

  }

  a {
    cursor: pointer;
    margin: 0 1rem 0 3rem;
    font-size: 1.3rem;
    color: #333;
    display: block;
  }
}

button.mat-button.mat-button-base {
  position: relative;
  display: flex;
  background: linear-gradient(to right, #cc1573, #5722a9);
  bottom: 3.5rem;
  color: white;
}

.playListName {
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;

  &:hover {
    color: deeppink;
    cursor: pointer;
  }
}

.playDescription {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif
}

.first-img {
  position: relative;
  bottom: 32rem;
}

.second-img {
  left: 50rem;
  position: relative;
  bottom: 95rem;
}

