<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1 info-list-option">
    <ol>
      <li>
        <button class="info-button" [ngClass]="{'to-pink': thisPage === 'info'}"
                (click)="showInfo()" mat-raised-button>Your Account
        </button>
      </li>
      <li>
        <button [ngClass]="{'to-pink': thisPage === 'tracks'}" class="mt-3 info-button" (click)="showTracks()" mat-raised-button>
          Tracks
        </button>
      </li>
      <li>
        <button [ngClass]="{'to-pink': thisPage === 'playlists'}" (click)="showPlaylists()" class="mt-3 info-button"
                mat-raised-button>Playlists
        </button>
      </li>
      <li>
        <button [ngClass]="{'to-pink': thisPage === 'profile'}" (click)="showProfile()" class="mt-3 info-button" mat-raised-button>
          Edit
        </button>
      </li>
      <li>
        <button [ngClass]="{'to-pink': thisPage === 'singer'}" (click)="showSinger()" class="mt-3 info-button" mat-raised-button>
         Your Singer
        </button>
      </li>
    </ol>
  </div>

  <div *ngIf="thisPage == 'info'" class="col-sm-10 col-md-10 col-lg-10 info-all-content">
    <mat-card>
      <app-all></app-all>
    </mat-card>
  </div>

  <div *ngIf="thisPage == 'tracks'" class="col-sm-10 col-md-10 col-lg-10 info-all-content">
    <mat-card>
      <app-track></app-track>
    </mat-card>
  </div>

  <div *ngIf="thisPage == 'profile'" class="col-sm-10 col-md-10 col-lg-10 info-all-content">
    <mat-card>
      <app-profile></app-profile>
    </mat-card>
  </div>

  <div *ngIf="thisPage == 'playlists'" class="col-sm-10 col-md-10 col-lg-10 info-all-content">
    <mat-card>
      <app-playlist></app-playlist>
    </mat-card>
  </div>

  <div *ngIf="thisPage == 'singer'" class="col-sm-10 col-md-10 col-lg-10 info-all-content">
    <mat-card>
      <app-user-singer></app-user-singer>
    </mat-card>
  </div>
</div>
