<div class="col-12">
  <div class="featured-album-content d-flex flex-wrap">
      <!-- Album Thumbnail -->
      <div class="album-thumbnail h-100 bg-img">
          <img src="{{nowPlaying.avatar}}" alt="" class="musicDetail">
        </div>
      <!-- Album Songs -->

        <div class="album-songs h-100">

          <!-- Album Info -->
          <div class="album-info mb-50 d-flex flex-wrap align-items-center justify-content-between">
            <div class="album-title">
              <h6>Featured album</h6>
              <h4>Love is all Around</h4>
            </div>
            <div class="album-buy-now">
              <a href="#" class="btn musica-btn">Buy it on Itunes</a>
            </div>
          </div>

          <div class="album-all-songs">

            <!-- Music Playlist -->
            <div class="music-playlist">
              <!-- Single Song -->
              <div class="single-music active">
                <h3><span style="color: white">{{nowPlaying.name}} - {{nowPlaying.singer}}</span></h3>
                <!--                  <audio preload="auto" controls src="{{musicDetail.musicUrl}}">-->
                <!--                  </audio>-->
                <p>{{nowPlaying.description}}</p>
              </div>
            </div>
          </div>
          <!-- Now Playing -->
          <div class="now-playing d-flex flex-wrap align-items-center justify-content-between">
            <div class="songs-name mb-2">
              <div class="row">
                <p><b>Playing</b></p>
                <img class="ml-2 mb-2" src="https://s7.upanh.pro/2019/10/28/vinyl-lp-vn.gif" alt="" width="25px">
              </div>
              <span style="color: white" class="">{{nowPlaying.name}}</span>
            </div>
            <audio preload="auto" controls class="audio-detail" src="{{nowPlaying.musicUrl}}">
            </audio>
          </div>
        </div>
  </div>
</div>
