<div class="about-us-area section-padding-100-0 bg-img bg-overlay"
     style="background-image: url(../../../../assets/img/bg-img/bg-4.jpg);" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>TOP Singer</h2>
          <h6>Sed porta cursus enim, vitae maximus felis luctus iaculis.</h6>
        </div>
      </div>
    </div>

    <div class="row" style="background-color: aqua">
      <a routerLink="/home/singer/create">Add Singer</a>
    </div>
  </div>
</div>
