<div class="about-us-area section-padding-100-0 bg-img bg-overlay"
     style="background-image: url(../../../../assets/img/bg-img/bg-4.jpg);" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>TOP 100</h2>
          <h6>Sed porta cursus enim, vitae maximus felis luctus iaculis.</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- About Thumbnail -->
      <div class="col-12 col-lg-6">
        <div class="about-thumbnail mb-100">
          <img src="../../../../assets/img/bg-img/bg-5.jpg" alt="">
        </div>
      </div>
      <!-- About Content -->
      <div class="col-12 col-lg-6">
        <div class="about-content mb-100">
          <h4>Hello, It’s Michael Smithson</h4>
          <p>Nulla pretium tincidunt felis, nec sollicitudin mauris lobortis in. Aliquam eu feugiat ligula, laoreet
            efficitur nulla. Morbi nec neque porta, elementum massa at, vehicula nunc. Nulla facilisi. Donec id purus eu
            lectus imperdiet varius. Curabitur consectetur nunc sem, vitae cursus enim tempor eget. Praesent
            pellentesque nisi urna, sit amet suscipit ligula posuere id. Aenean id tortor vel quam ornare gravida.
            Phasellus luctus feugiat nunc, quis vulputate ipsum convallis quis. Integer vel nulla erat. Donec erat
            metus, luctus quis maximus quis, volutpat eu tellus. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.</p>
          <img src="../../../../assets/img/core-img/signature.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
