<div class="now-play">
  <div class="row now-play-box">
    <div style="" class="now-playing">
      <div class="control-box">
        <button style="margin-right: .5rem" (click)="playOrPause()" class="btn btnControl"
                [ngClass]="{'play': !isPlay, 'pause': isPlay}">
          <i class="fa fa-play"></i>
          <i class="fa fa-pause"></i>
        </button>
        <button (click)="nextSongInPlaylist()" class="btn btnControl">
          <i class="fas fa-angle-double-right"></i>
        </button>
      </div>

      <div class="play-icon1" (click)="showListOption()">
        <i class="fas fa-ellipsis-h"></i>
      </div>

      <div class="info">
        <div class="audioName mt-2">
          <span style="color: white">{{currentSong.name}}</span>
        </div>
        <div class="seekBar">
          <mat-slider (change)="scrollTime($event)" class="mat-outer" min="1" max="{{audio.getDuration()}}"
                      step="0.5"
                      value="{{seekBarInner}}"></mat-slider>
        </div>
        <div class="timing">
          <div class="start">{{startTime}}</div>
          <div class="end">{{remainTime}}</div>
        </div>
      </div>

      <div class="volume-control" (mouseleave)="volumeHide()" (mouseenter)="volumeShow()">
        <i class="fa fa-volume-up"></i>
        <div class="" *ngIf="showVolume">
          <mat-slider min="0" max="10" vertical
                      value="{{audio.audio.volume * 10}}"
                      (change)="scrollVolume($event)"
          ></mat-slider>
        </div>
      </div>
      <div (click)="repeatSong()" class="repeat-control">
        <i class="fas fa-redo" [ngClass]="{'repeat': isRepeat}"></i>
      </div>
    </div>
  </div>
</div>
