.song{
  height: 600px;
}
#img-song{
height: 40%;
}
.detail-song{
  //border-width: 0.5px;
  //border: grey;
  //border-style: initial;
  height: 79%;
}
#list-song{
  height: 52%;
  background: aqua;
  margin-left: 14px;
}
