<div class="preloader d-flex align-items-center justify-content-center">
  <div class="circle-preloader">
    <img src="../../../assets/img/core-img/compact-disc.png" alt="">
  </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
  <!-- Navbar Area -->
  <div class="musica-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container-fluid">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="musicaNav">

          <!-- Nav brand -->
          <a mat-button href="index.html" class="nav-brand"><img src="../../../assets/img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About us</a></li>
                <li><a href="#">Pages</a>
                </li>
                <li><a href="#">Mega Menu</a>
                </li>
                <!--                <li *ngIf="!user.isLoggedIn()"><a mat-button (click)="showFormLogin()">Login</a></li>-->
                <!--                <li *ngIf="!user.isLoggedIn()"><a mat-button (click)="showForm()">Register</a></li>-->
                <!--                <li *ngIf="user.isLoggedIn()">-->
                <!--                  <app-auth></app-auth>-->
                <!--                </li>-->
              </ul>

              <!-- Social Button -->
              <div class="top-social-info">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a *ngIf="!user.isLoggedIn()" class="auth classynav" (click)="showFormLogin()">Login</a>
                <a class="auth classynav" *ngIf="user.isLoggedIn()">
                  <app-auth></app-auth>
                </a>
              </div>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
  <div class="hero-slides owl-carousel">

    <!-- Single Hero Slide -->
    <div class="single-hero-slide d-flex align-items-center justify-content-center">
      <!-- Slide Img -->
      <div class="slide-img bg-img" style="background-image: url(../../../assets/img/bg-img/bg-1.jpg);"></div>
      <!-- Slide Content -->
      <div class="hero-slides-content text-center">
        <h2 data-animation="fadeInUp" data-delay="100ms">Musica <span>Musica</span></h2>
        <p data-animation="fadeInUp" data-delay="300ms">Music Theme</p>
      </div>
      <!-- Big Text -->
      <h2 class="big-text">Musica</h2>
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide d-flex align-items-center justify-content-center">
      <!-- Slide Img -->
      <div class="slide-img bg-img" style="background-image: url(../../../assets/img/bg-img/bg-2.jpg);"></div>
      <!-- Slide Content -->
      <div class="hero-slides-content text-center">
        <h2 data-animation="fadeInUp" data-delay="100ms">Colorlib <span>Colorlib</span></h2>
        <p data-animation="fadeInUp" data-delay="300ms">Music Template</p>
      </div>
      <!-- Big Text -->
      <h2 class="big-text">Colorlib</h2>
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide d-flex align-items-center justify-content-center">
      <!-- Slide Img -->
      <div class="slide-img bg-img" style="background-image: url(../../../assets/img/bg-img/bg-3.jpg);"></div>
      <!-- Slide Content -->
      <div class="hero-slides-content text-center">
        <h2 data-animation="fadeInUp" data-delay="100ms">Festival <span>Festival</span></h2>
        <p data-animation="fadeInUp" data-delay="300ms">Free Themes</p>
      </div>
      <!-- Big Text -->
      <h2 class="big-text">Festival</h2>
    </div>

  </div>
  <!-- bg gradients -->
  <div class="bg-gradients"></div>

  <!-- Slide Down -->
  <div class="slide-down" id="scrollDown">
    <h6>Slide Down</h6>
    <div class="line"></div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->


