<!-- header -->
<div class="container-fluid bg-light border border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand m-0 p-0" href="#" style="width: 150px">
        <img src="https://ar.toneden.io/21992223/dd63b4a9-5e31-4380-8ca9-228d652b73f0" class="w-75">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left side of Navbar -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="playlists" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Playlists
            </a>
            <div class="dropdown-menu" aria-labelledby="playlists">
              <a class="dropdown-item" href="#">V-pop</a>
              <a class="dropdown-item" href="#">US - UK</a>
              <a class="dropdown-item" href="#">K-pop</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Others</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="songs" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Songs
            </a>
            <div class="dropdown-menu" aria-labelledby="songs">
              <a class="dropdown-item" href="#">V-pop</a>
              <a class="dropdown-item" href="#">US - UK</a>
              <a class="dropdown-item" href="#">K-pop</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Others</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="management" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Management
            </a>
            <div class="dropdown-menu" aria-labelledby="management">
              <a class="dropdown-item" href="#">Songs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Singers</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Artists</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Playlists</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/home/musics/create">Upload</a>
            </div>
          </li>
        </ul>

        <!-- search bar -->
        <form class="form-inline my-2 my-lg-0">
                        <span>
                        <select class="custom-select" style="border-radius: 25px 0px 0px 25px">
                            <option value="song">Song</option>
                            <option value="playlist">Playlist</option>
                            <option value="singer">Singer</option>
                        </select>
                            </span>
          <span>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </span>
          <span>
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    style="border-radius: 0px 25px 25px 0px" type="submit">
                                <i class="fas fa-search">Search</i>
                            </button>
                    </span>
        </form>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Authentication Links -->
          <li class="nav-item">
            <a mat-button class="nav-link" (click)="showFormLogin()">Login</a>
          </li>
          <li class="nav-item">
            <a mat-button class="nav-link" (click)="showForm()">Register</a>
          </li>
          <li class="nav-item">
            <a mat-button class="nav-link" href="" *ngIf="user.isLoggedIn()">
              <app-auth></app-auth>
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>

