.add-product-title {
  color: #00ba00;
}

.margin-form-add-product {
  margin: 3% 2% 5% 3%;
}

.page-title {
  padding: 2% 0% 2% 35%;
  font-size: 300%;
  color: white;
  background: #1094ba;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
