<!-- ##### Featured Album Area Start ##### -->
<div class="featured-album-area section-padding-100 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="featured-album-content d-flex flex-wrap">

          <!-- Album Thumbnail -->
          <div class="album-thumbnail h-100 bg-img">
            <img src="{{musicDetail.avatar}}" alt="" class="musicDetail">
          </div>

          <!-- Album Songs -->
          <div class="album-songs h-100">

            <!-- Album Info -->
            <div class="album-info mb-50 d-flex flex-wrap align-items-center justify-content-between">
              <div class="album-title">
                <h6>Featured album</h6>
                <h4>Love is all Around</h4>
              </div>
              <div class="album-buy-now">
                <a href="#" class="btn musica-btn">Buy it on Itunes</a>
              </div>
            </div>

            <div class="album-all-songs">

              <!-- Music Playlist -->
              <div class="music-playlist">
                <!-- Single Song -->
                <div class="single-music active">
                  <h3><span style="color: white">{{musicDetail.name}} - {{musicDetail.singer}}</span></h3>
<!--                  <audio preload="auto" controls src="{{musicDetail.musicUrl}}">-->
<!--                  </audio>-->
                  <p>{{musicDetail.description}}</p>
                </div>
              </div>
            </div>
            <!-- Now Playing -->
            <div class="now-playing d-flex flex-wrap align-items-center justify-content-between">
              <div class="songs-name mb-2">
               <div class="row">
                 <p><b>Playing</b></p>
                 <img class="ml-2 mb-2" src="https://s7.upanh.pro/2019/10/28/vinyl-lp-vn.gif" alt="" width="25px">
               </div>
                <span style="color: white" class="">{{musicDetail.name}}</span>
              </div>
              <audio preload="auto" controls class="audio-detail" src="{{musicDetail.musicUrl}}">
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- Music Playlist -->
    <div class="container music-playlist" *ngFor="let music of musicList">
      <!-- Single Song -->
      <div class="single-music active">
        <div class="container">
          <div class="row">
            <div class="col-2 ml-5">
              <img src="{{music.avatar}}" alt="" class="image-music-detail" routerLink="/home/musics/detail/{{music.id}}">
            </div>
            <div class="col-7 pt-4">
              <h4><span style="color: white" class="container" routerLink="/home/musics/detail/{{music.id}}">{{music.name}} - {{music.singer}}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <hr style="background: white">
    </div>
  </div>
</div>
<!--##### Featured Album Area End #####-->
<!--<app-header></app-header>-->
<!--##### About Us Area Start #####-->
<div class="about-us-area section-padding-100-0 bg-img bg-overlay"
     style="background-image: url(../../../../assets/img/bg-img/bg-4.jpg);" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>Artist Bio</h2>
          <h6>Sed porta cursus enim, vitae maximus felis luctus iaculis.</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- About Thumbnail -->
      <div class="col-12 col-lg-6">
        <div class="about-thumbnail mb-100">
          <img src="../../../assets/img/bg-img/bg-5.jpg" alt="">
        </div>
      </div>
      <!-- About Content -->
      <div class="col-12 col-lg-6">
        <div class="about-content mb-100">
          <h4>Hello, It’s Michael Smithson</h4>
          <p>Nulla pretium tincidunt felis, nec sollicitudin mauris lobortis in. Aliquam eu feugiat ligula, laoreet
            efficitur nulla. Morbi nec neque porta, elementum massa at, vehicula nunc. Nulla facilisi. Donec id purus eu
            lectus imperdiet varius. Curabitur consectetur nunc sem, vitae cursus enim tempor eget. Praesent
            pellentesque nisi urna, sit amet suscipit ligula posuere id. Aenean id tortor vel quam ornare gravida.
            Phasellus luctus feugiat nunc, quis vulputate ipsum convallis quis. Integer vel nulla erat. Donec erat
            metus, luctus quis maximus quis, volutpat eu tellus. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.</p>
          <img src="../../../assets/img/core-img/signature.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!--##### About Us Area End #####-->

<!--##### Upcoming Shows Area Start #####-->
<div class="upcoming-shows-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>Upcoming shows</h2>
          <h6>Sed porta cursus enim, vitae maximus felis luctus iaculis.</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Upcoming Shows Content -->
        <div class="upcoming-shows-content">

          <!-- Single Upcoming Shows -->
          <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
            <div class="shows-date">
              <h2>17 <span>July</span></h2>
            </div>
            <div class="shows-desc d-flex align-items-center">
              <div class="shows-img">
                <img src="../../../../assets/img/bg-img/s1.jpg" alt="">
              </div>
              <div class="shows-name">
                <h6>Electric castle Festival</h6>
                <p>Cluj, Romania</p>
              </div>
            </div>
            <div class="shows-location">
              <p>At the Castle</p>
            </div>
            <div class="shows-time">
              <p>20:30</p>
            </div>
            <div class="buy-tickets">
              <a href="#" class="btn musica-btn">Buy Tikets</a>
            </div>
          </div>

          <!-- Single Upcoming Shows -->
          <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
            <div class="shows-date">
              <h2>23 <span>July</span></h2>
            </div>
            <div class="shows-desc d-flex align-items-center">
              <div class="shows-img">
                <img src="../../../../assets/img/bg-img/s2.jpg" alt="">
              </div>
              <div class="shows-name">
                <h6>Electric Festival</h6>
                <p>Manhathan, NY, USA</p>
              </div>
            </div>
            <div class="shows-location">
              <p>Main Stadium</p>
            </div>
            <div class="shows-time">
              <p>21:30</p>
            </div>
            <div class="buy-tickets">
              <a href="#" class="btn musica-btn">Buy Tikets</a>
            </div>
          </div>

          <!-- Single Upcoming Shows -->
          <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
            <div class="shows-date">
              <h2>25 <span>July</span></h2>
            </div>
            <div class="shows-desc d-flex align-items-center">
              <div class="shows-img">
                <img src="../../../../assets/img/bg-img/s3.jpg" alt="">
              </div>
              <div class="shows-name">
                <h6>Sunflower festival</h6>
                <p>Paris, France</p>
              </div>
            </div>
            <div class="shows-location">
              <p>Sunflower Arena</p>
            </div>
            <div class="shows-time">
              <p>20:30</p>
            </div>
            <div class="buy-tickets">
              <a href="#" class="btn musica-btn">Buy Tikets</a>
            </div>
          </div>

          <!-- Single Upcoming Shows -->
          <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
            <div class="shows-date">
              <h2>30 <span>July</span></h2>
            </div>
            <div class="shows-desc d-flex align-items-center">
              <div class="shows-img">
                <img src="../../../../assets/img/bg-img/s4.jpg" alt="">
              </div>
              <div class="shows-name">
                <h6>Electric castle Festival</h6>
                <p>Cluj, Romania</p>
              </div>
            </div>
            <div class="shows-location">
              <p>At the Castle</p>
            </div>
            <div class="shows-time">
              <p>20:30</p>
            </div>
            <div class="buy-tickets">
              <a href="#" class="btn musica-btn">Buy Tikets</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Upcoming Shows Area End ##### -->

<!-- ##### Music Player Area Start ##### -->
<div class="music-player-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="ml-5 mr-5 mb-5">
          <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/23/7/8/b/5/1571804802390.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/29/7/c/1/5/1572339116027.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/25/d/7/6/c/1571975282431.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/21/4/6/1/e/1571641021875.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/25/d/7/6/c/1571974008674.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/22/8/2/0/b/1571718224366.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/22/8/2/0/b/1571733581187.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                  <div class="col">
                    <img
                      src="https://avatar-nct.nixcdn.com/song/2019/10/17/7/2/d/f/1571282640291.jpg"
                      class="d-block w-100" alt="...">
                    <p class="mb-0"><a>Playlist name</a></p>
                    <p class="mb-0"><a>Author</a></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
