.all-content {
  margin: 2rem 0 0 3rem;

  h3 {
    color: white;
  }
}

.all-content-list-song {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.col-md-2.col-lg-2.ng-star-inserted {
  max-width: 100%;
}

app-all.ng-star-inserted {
  width: 100%;
}

