<div (mouseleave)="hidePlayIcon()"
     (mouseenter)="showPlayIcon()" class="wrapper-icon-image">
  <img class="singer-avatar" src="{{song.avatar}}" alt=""
       (click)="onClick(song)">
  <div class="play-icon" *ngIf="icon">
    <i class="fa fa-play color-to-pink"></i>
  </div>
  <div class="etc-icon" *ngIf="icon">
    <i (click)="showEtc()" class="fas fa-ellipsis-h color-to-pink"></i>
  </div>
  <div class="etc-icon" *ngIf="icon">
    <app-heart [songsUserHasLiked]="songsUserHasLiked" [songId]="song.id"></app-heart>
  </div>
</div>
<div class="song-singer">
  <h6>{{song.name}}</h6>
  <span *ngIf="song.singers.length === 1">{{song.singers[0].name}}</span>
  <span *ngIf="song.singers.length > 1">
    <span *ngFor="let singer of song.singers; let i = index">{{singer.name}}<span
      *ngIf="i !== song.singers.length - 1">, </span></span>
  </span>
</div>
