<mat-tab-group selectedIndex="">
  <mat-tab class="login-tab" label="Login">
    <mat-card>
      <form class="tp-form" [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <mat-card-content>

          <!--  Email   -->
          <div class="">
            <mat-form-field floatLabel="never" appearance="fill" hideRequiredMarker class="tp-full-width">
              <input class="input-email" matInput placeholder="Email" type="email" formControlName="emailLogin" email
                     required>
              <mat-icon class="auth-icon" *ngIf="emailLogin.invalid && (emailLogin.dirty || !emailLogin.touched)" matPrefix><i
                class="far fa-envelope-open"></i></mat-icon>
              <mat-icon class="auth-icon" *ngIf="!emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" matPrefix><i
                class="far fa-envelope"></i></mat-icon>
              <mat-hint align="end" *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)">
                <span class="text-danger" *ngIf="emailLogin.errors.required">Email is required</span>
                <span class="text-danger" *ngIf="emailLogin.errors.email">Email Format incorrectly</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <!--  Password    -->
          <div class="">
            <mat-form-field floatLabel="never" appearance="fill" class="tp-full-width">
              <input class="input-password" type="password" placeholder="Password" matInput
                     formControlName="passwordLogin" required>
              <mat-icon class="auth-icon" *ngIf="passwordLogin.invalid && (passwordLogin.dirty || !passwordLogin.touched)" matPrefix><i
                class="fas fa-unlock"></i></mat-icon>
              <mat-icon class="auth-icon" *ngIf="!passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)" matPrefix><i
                class="fas fa-lock"></i></mat-icon>
              <mat-hint align="end" *ngIf="passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)">
                <span class="text-danger" *ngIf="passwordLogin.errors.required">Password can not empty!!!</span>
              </mat-hint>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="btn-tab-actions" align="end">
          <button [disabled]="!loginForm.valid" [hidden]="!buttonStatus" class="login-btn" type="submit" mat-button
                  color="primary">
            Login
          </button>

        </mat-card-actions>

      </form>
      <mat-card-actions align="end">
        <button [hidden]="!buttonStatus" (click)="facebooklogin()" class="loginFb-btn" type="submit" mat-button
                color="primary">
          <span class="login-btn-item">Login facebook</span>
          <div><i class="fab fa-facebook-f"></i></div>
        </button>

      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Register">
    <mat-card>
      <form class="tp-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-card-content>
          <!--  Name  -->
          <div class="">
            <mat-form-field floatLabel="never" hideRequiredMarker class="tp-full-width" appearance="fill">
              <input class="input-name" matInput placeholder="Enter Your Name" type="text" formControlName="name"
                     required>
              <mat-icon class="auth-icon" matPrefix><i class="fas fa-user"></i></mat-icon>
              <mat-hint align="end" *ngIf="name.invalid && (name.dirty || name.touched)">
                <span class="text-danger" *ngIf="name.errors.required">Name is required</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <!--  Email   -->
          <div class="">
            <mat-form-field appearance="fill" hideRequiredMarker class="tp-full-width">
              <input class="input-email" matInput placeholder="Enter Your Email" type="email" formControlName="email"
                     email required>
              <mat-icon class="auth-icon" *ngIf="email.invalid && (email.dirty || !email.touched)" matPrefix><i
                class="far fa-envelope-open"></i></mat-icon>
              <mat-icon class="auth-icon" *ngIf="!email.invalid && (email.dirty || email.touched)" matPrefix><i
                class="far fa-envelope"></i></mat-icon>
              <mat-hint align="end" *ngIf="email.invalid && (email.dirty || email.touched)">
                <span class="text-danger" *ngIf="email.errors.required">Email is required</span>
                <span class="text-danger" *ngIf="email.errors.email">Email Format incorrectly</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <!--  Password    -->
          <div class="">
            <mat-form-field appearance="fill" class="tp-full-width">
              <input class="input-password" placeholder="Enter Password" type="password" matInput
                     formControlName="password" required>
              <mat-icon class="auth-icon" *ngIf="password.invalid && (password.dirty || !password.touched)" matPrefix><i
                class="fas fa-unlock"></i></mat-icon>
              <mat-icon class="auth-icon" *ngIf="!password.invalid && (password.dirty || password.touched)" matPrefix><i
                class="fas fa-lock"></i></mat-icon>
              <mat-hint align="end" *ngIf="password.invalid && (password.dirty || password.touched)">
                <span class="text-danger" *ngIf="password.errors.required">Password can not empty!!!</span>
                <span class="text-danger" *ngIf="password.errors.minlength">Password has at least 8 character!!!</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <!--  confirmPassword    -->
          <div class="">
            <mat-form-field appearance="fill" class="tp-full-width">
              <input class="input-password" placeholder="Confirm Password" appConfirmEqualValidator="password"
                     type="password" matInput
                     formControlName="confirmPassword"
                     required>
              <mat-icon class="auth-icon" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || !confirmPassword.touched)"
                        matPrefix><i
                class="fas fa-unlock"></i></mat-icon>
              <mat-icon class="auth-icon" *ngIf="!confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                        matPrefix><i
                class="fas fa-lock"></i></mat-icon>
              <mat-hint align="end"
                        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <span class="text-danger"
                      *ngIf="confirmPassword.errors.required">Confirm Password can not empty!!!</span>
                <span class="text-danger"
                      *ngIf="confirmPassword.errors?.notEqual">Confirm Password not matched!!!</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Terms and conditions</mat-panel-title>
              </mat-expansion-panel-header>
              <p>We will not share your information</p>
            </mat-expansion-panel>
          </div>

          <div class="mt-3">
            <mat-checkbox>I Agree</mat-checkbox>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="btn-register" [disabled]="!registerForm.valid" [hidden]="!buttonStatus" type="submit"
                  mat-button color="primary">
            Register
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-tab>
</mat-tab-group>
