.mat-card-account {
  height: 9.6rem;
}

button.profile-update-button-img {
  bottom: 3rem;
  left: 3.3rem;
}

.profile-update-button-img {
  display: inline-block;
  position: relative;
  height: 26px;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
}

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: linear-gradient(to right, #cc1573, #5722a9) !important;
  color: white;
}

.tp-full-width {
  width: 100%;
}

img.profile-update-img {
  width: 100%;
  min-width: 100%;
  border-radius: 50%;
}
