<mat-tab-group selectedIndex="">
  <mat-tab label="Update">
    <mat-card>
      <form class="tp-form" [formGroup]="updateForm" (ngSubmit)="userUpdate()">
        <mat-card-content>

          <!--  Email   -->
          <div class="">
            <mat-form-field appearance="fill" hideRequiredMarker class="tp-full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="newEmail" email required>
              <mat-hint align="end" *ngIf="newEmail.invalid && (newEmail.dirty || newEmail.touched)">
                <span class="text-danger" *ngIf="newEmail.errors.required">Email is required</span>
                <span class="text-danger" *ngIf="newEmail.errors.email">Email Format incorrectly</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <!--  Password    -->
          <div class="">
            <mat-form-field appearance="fill" class="tp-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="newPassword" required>
              <mat-hint align="end" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                <span class="text-danger" *ngIf="newPassword.errors.required">Password can not empty!!!</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <!--  confirmPassword    -->
          <div class="">
            <mat-form-field appearance="fill" class="tp-full-width">
              <mat-label>Confirm Password</mat-label>
              <input appConfirmEqualValidator="newPassword" type="password" matInput formControlName="confirmPassword"
                     required>
              <mat-hint align="end"
                        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <span class="text-danger"
                      *ngIf="confirmPassword.errors.required">Confirm Password can not empty!!!</span>
                <span class="text-danger"
                      *ngIf="confirmPassword.errors?.notEqual">Confirm Password not matched!!!</span>
              </mat-hint>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button [disabled]="!updateForm.valid" type="submit" mat-button color="primary">
            Update
          </button>

        </mat-card-actions>
      </form>
    </mat-card>
  </mat-tab>
</mat-tab-group>
