form.header-query-wraper.ng-dirty.ng-valid.ng-touched {
  max-height: 3.5rem !important;
}

.header-button-find {
  bottom: 3.5rem;
  left: 71%;
}

span.ng-tns-c8-0.ng-star-inserted, input#mat-input-0 {
  color: white !important;
}

.fa-search {
  color: white;
}

.query-result {
  position: relative;
  background-color: #1d1633;
  width: 30rem;
  height: 15rem;
  right: 1rem;
  border-radius: .5rem;
}
