<mat-card>
  <form [formGroup]="createForm" (ngSubmit)="createPlaylist()">
    <mat-form-field>
      <input formControlName="namePlaylist" matInput placeholder="Enter Playlist Name">
      <mat-hint align="end" *ngIf="namePlaylist.invalid && (namePlaylist.dirty || namePlaylist.touched)">
        <span class="text-danger" *ngIf="namePlaylist.errors.required">Playlist Name</span>
      </mat-hint>
    </mat-form-field>
    <button [disabled]="!createForm.valid" type="submit" mat-button color="primary">
      Create
    </button>
  </form>
</mat-card>
